{:company/legal-name "KEPCO (Korea Electric Power Corporation)"
 :company/lei "988400QG33WS7JEIV602"
 :company/jurisdiction "KR"
 :company/website "https://www.kepco.co.kr"
 :company/ticker "015760 (KRX)"}
